a
  text-decoration: none
ul, ol ,menu
  list-style:none
ul, menu, dir
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;

ul,h1,h2,h3
  margin: 0
  padding: 0

address, cite, dfn, em, i, optgroup, var
  font-style: normal

h1, h2, h3, h4, h5, h6, b, strong
  font-weight: normal